.usersata{
    width: 288px;
    height: 400px;
}

.nameData{
    color: white;
    font-weight: bold;
    font-size: 1.7rem;
}

.descripcion{
    margin-right: 0.9rem;
    margin-top: 1rem;
    color: white;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.localizacion{
    margin-top: 1rem;
    font-weight: bold;
    color: rgb(27, 126, 255);
}